@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transition: all 0.5s ease;
  padding:10px
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
